<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquire Quiz Calender</title>
    <link rel="stylesheet" href="style.css" />
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="script.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">ENQUIRE QUIZ CLUB</a>
 
        <ul class="nav_items">
          <li class="nav_item">
            <a href="#" class="nav_link">Home</a>
            <!-- <a href="#" class="nav_link">Product</a> -->
            <a href="#" class="nav_link">Services</a>
            <a href="#" class="nav_link">Contact</a>
          </li>
        </ul>

        <button class="button" id="form-open">Login</button>
      </nav>
    </header>


    <!-- Home -->
    <section class="home">
      <div class="form_container">
        <i class="uil uil-times form_close"></i>
        <!-- Login From -->
        <div class="form login_form">
          <form action="/auth/login" method="POST">
            <h2>Login</h2>

            <div class="input_box">
              <input type="email" placeholder="Enter your email" required name="email"/>
              <i class="uil uil-envelope-alt email"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Enter your password" required name="password"/>
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>

            <div class="option_field">
              <span class="checkbox">
                <input type="checkbox" id="check" />
                <label for="check">Remember me</label>
              </span>
              <a href="#" class="forgot_pw">Forgot password?</a>
            </div>
            <button class="button">Login Now</button>      
          </form>
          <a href="/auth/google"><button id="google-button"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png">Sign in with Google</button></a>
          <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
        </div>

        <!-- Signup From -->
        <div class="form signup_form">
          <form action="/auth/register" method="POST">
            <h2>Signup</h2>

            <div class="input_box">
              <i class="uil uil-user-circle name"></i>
              <input type="text" placeholder="Enter your name" required name="name"/>
           
            </div>
            <div class="input_box">
              <input type="email" placeholder="Enter your email" required name="email"/>
              <i class="uil uil-envelope-alt email"></i>
            </div>


            <div class="input_box">
              <input type="password" placeholder="Create password" required id="password1" name="password" />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <div class="input_box">
              <input type="password" placeholder="Confirm password" required id="password2" />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <button class="button" onclick="return checkPasswords()">SignUp now</button>
          </form>
          <a href="/auth/google"><button id="google-button"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-google-icon-logo-png-transparent-svg-vector-bie-supply-14.png">Sign in with Google</button></a>

          <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>       
        </div>
      </div>
    </section>
   <!-- Calendar -->   
   <div class="bod">
    <div class="wrapper">
      <header>
        <p class="current-date"></p>
        <div class="icons">
          {{!-- <span id="prev" class="material-symbols-rounded">chevron_left</span>
          <span id="next" class="material-symbols-rounded">chevron_right</span> --}}
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li >Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
      <div class="pop"></div>
    </div> 
</div>
{{!-- <form class="" action="" method="post" autocomplete="off" enctype="multipart/form-data">
      <label for="name">Name : </label>
      <input type="text" name="name" id = "name" required value=""> <br>
      <label for="image">Image : </label>
      <input type="file" name="image" id = "image" accept=".jpg, .jpeg, .png" value=""> <br> <br>
      <button type = "submit" name = "submit">Submit</button>
    </form>
    <br> --}}
    <form>
      <input type="file" name="Files" required multiple />
      <input type="text" name="Name" placeholder="Name" />
      <input type="email" name="Email Address" placeholder="Email" required />
      <input type="text" name="Country" placeholder="Country" />
      <button type="submit">Submit</button>
    </form>
    <script>
    const formElem = document.querySelector('form');
    formElem.addEventListener('submit', async (e) => {
        console.log("form submitted")
      e.preventDefault();
      await fetch('/upload', {
        method: 'POST',
        body: new FormData(formElem),
      });
    });
  </script>
    
    <div class="container">
      <h1 class="form-title">Registration</h1>
      <form action="#">
        <div class="main-user-info">
          <div class="user-input-box">
            <label for="general">General</label>
            <div class="range">
            <div class="sliderValue">
              <span>100</span>
            </div>
            <div class="field">
              <div class="value left">
              0</div>
              <input type="range" id="general" name="general"min="0" max="200" value="0" steps="1">
              <div class="value right">
                200</div>
              </div>
           </div>
            </label>
          </div>
          <div class="user-input-box">
            <label for="scitech">Sci-Tech</label>
                 
            <div class="range">
              <div class="sliderValue">
                <span>100</span>
              </div>
              <div class="field">
                <div class="value left">
                0</div>
                <input type="range" id="scitech" name="scitech"min="0" max="200" value="100" steps="1">
                <div class="value right">
                  200</div>
                </div>
             </div>
  
          </div>

          <div class="user-input-box">
            <label for="sports">Sports</label>
                 
            <div class="range">
              <div class="sliderValue">
                <span>100</span>
              </div>
              <div class="field">
                <div class="value left">
                0</div>
                <input type="range" id="sports" name="sports"min="0" max="200" value="100" steps="1">
                <div class="value right">
                  200</div>
                </div>
             </div>
  
          </div>
          
          <div class="user-input-box">
            <label for="business">Business</label>
                 
            <div class="range">
              <div class="sliderValue">
                <span>100</span>
              </div>
              <div class="field">
                <div class="value left">
                0</div>
                <input type="range" id="business" name="business"min="0" max="200" value="100" steps="1">
                <div class="value right">
                  200</div>
                </div>
             </div>
  
          </div>
           
          <div class="user-input-box">
            <label for="mela">Mela</label>
            
                   
          <div class="range">
            <div class="sliderValue">
              <span>100</span>
            </div>
            <div class="field">
              <div class="value left">
              0</div>
              <input type="range" id="mela" name="mela" min="0" max="200" value="100" steps="1">
              <div class="value right">
                200</div>
              </div>
           </div>

          </div>

        </div>
        <div class="type-details-box">
          <span class="type-title">Category</span>
          <div class="category">
            <input type="radio" name="type" id="male">
            <label for="school">School</label>
            <input type="radio" name="type" id="female">
            <label for="college">College</label>
            <input type="radio" name="type" id="other">
            <label for="open">Open</label>
          </div>
        </div>
        <div class="form-submit-btn">
          <input type="submit" value="Go!">
        </div>
      </form>
    </div>
    <script src="script.js"> 
      const slideValue = document.querySelector("span");
      const inputSlider = document.querySelector("input");
      inputSlider.oninput = (()=>{
        let value = inputSlider.value;
        slideValue.textContent = value;
        slideValue.style.left = (value/2) + "%";
        slideValue.classList.add("show");
      });
      inputSlider.onblur = (()=>{
        slideValue.classList.remove("show");
      });   </script>
  </body>
</html>